# Basic Site Settings
locale                   : "en-UK"
site_theme               : "default"
title                    : "Rahmat Ullah"
title_separator          : "-"
name                     : &name "Rahmat Ullah"
description              : &description "Lecturer in Computer Science | Computational Imaging | Machine Learning for Digital Health"

url                      : https://YOURUSERNAME.github.io
baseurl                  : ""
repository               : "YOURUSERNAME/YOURUSERNAME.github.io"

# Author Sidebar
author:
  avatar           : "profile.png"
  name             : "Dr Rahmat Ullah"
  pronouns         :
  bio              : "Lecturer in Computer Science at the University of Essex specialising in computational imaging, biomedical signal processing, and machine learning for digital health."
  location         : "Colchester, United Kingdom"
  employer         : "University of Essex"
  uri              : "https://www.essex.ac.uk/"
  email            : "rahmat.ullah@essex.ac.uk"

  # Academic profiles
  googlescholar    : "PASTE_YOUR_SCHOLAR_LINK"
  orcid            : "PASTE_YOUR_ORCID"
  researchgate     :
  scopus           :
  pubmed           :

  # Developer
  github           : "YOURUSERNAME"

  # Social
  linkedin         :
  twitter          :

# Publications categories
publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'
  conferences:
    title: 'Conference Papers'

# Site Settings
breadcrumbs              : false
words_per_minute         : 160
future                   : true
read_more                : "disabled"
talkmap_link             : false

comments:
  provider               :

atom_feed:
  hide                   : false

# SEO
google_site_verification :
bing_site_verification   :

# Analytics
analytics:
  provider               : false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true

# Markdown
markdown: kramdown
highlighter: rouge

# Plugins
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji
